body {
    background-color: #F29BDB;
    $font-mate: 'Mate SC', serif;
    $font-ibarra : 'Ibarra Real Nova', serif;
    size: 50em;
    color: rgb(0, 0, 0);

  }

  body .contenedor {
    width: 50%;
    border-radius:  10px;
    padding: 50px;
    text-align: center;
    margin: 50px auto;
  }

  

  