$font-ibarra: 'Ibarra Real Nova', serif;
$font-mate: 'Mate SC', serif;

.body {
  font-family: $font-ibarra;
  background-color: #CFF2AC;
  size: 10em;
  color: rgb(12, 12, 12);
}

  body .contenedor {
    width: 50%;
    border-radius:  10px;
    padding: 50px;
    text-align: center;
    margin: 50px auto;
  }




  