$colornav: rgb(46, 147, 214);
$colorwhatsapp: rgb(34, 151, 34);
$colorfacebook: rgb(11, 11, 192);
$colorinstagram: rgb(121, 24, 83);
$colorbody: rgb(15, 15, 15);

.bi-whatsapp {
    color: $colorwhatsapp;
   }

.bi-instagram {
    color: $colorinstagram;
    padding-right: 2cm;
    }

.bi-facebook {
    color: $colorfacebook;
    padding-right: 2cm;
    }