$form-floating-line-height: 1.5;

header {
   justify-content: space-between;
   & :hover {
      background-color: #f29bdb;
   }
}

main {
   padding: 20px;
   background-color: #f29bdb;
   font-family: $font-ibarra;
}

div {
   background-color: #cff2ac;
   p {
      color: rgb(0, 0, 0);
   }
}

ul {
   display: flex;
   width: 500px;
   justify-content: space-evenly;
   list-style: none;
   li {
      a {
         color: #f29bdb;
      }
   }
}

body {
   .tituloprincipal {
      text-shadow: rgb(46, 147, 214) 5px 5px;
      text-align: center;
   }
    
   .carouselExampleDark {
      width: 50%;
   }

   .form {
      justify-content: center;
      width: fit-content;
}
}

.mapa {
   align-items: center;
}


.footer {
   background-color: #99d9f2 ;
   justify-content: center;
   align-items: right;
} 
