@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Mate+SC&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.bi-whatsapp {
    color: rgb(34, 151, 34);
   }

.bi-instagram {
    color: rgb(221, 9, 9);
    padding-right: 2cm;
    }

.bi-facebook {
    color: rgb(11, 11, 192);
    padding-right: 2cm;
    }

.body {
    font-family: 'Ibarra Real Nova', serif;
    background-color: #CFF2AC;
    size: 10em;
    color: rgb(12, 12, 12);
}


.tituloprincipal {
    font-size: 5em;
    text-align: center;
    text-shadow: rgb(46, 147, 214) 5px 5px;
}

.segunda {
    font-size: 2em;
    text-decoration: dotted;
    text-align: center;
}

.tegusto {
    font-family: 'Mate SC', serif;
    font-size: 1.5em;
    text-decoration: dotted;
    text-align: center;
}

.somos {
    font-family: 'Mate SC', serif;
    font-size: 1.5em;
    text-decoration:none;
    text-align: left;
}

.articulo {
    font-family: 'Mate SC', serif;
    font-size: 1.8em;
    text-decoration: dotted;
    text-transform:initial;
    text-align: center;
}

.ubicacion {
    font-family: 'Mate SC', serif;
    font-size: 1.5625em;
    text-decoration: dotted;
    text-align: left;
}

.mainprendas {
    width: 50em;
}

.colaboramos {
    font-family: 'Mate SC', serif;
    font-size: 1.5em;
    text-decoration: dotted;
    text-align: left;
}

.alimento {
    font-family: 'Mate SC', serif;
    font-size: 2em;
    text-decoration: dotted;
    text-align: left;
    margin: 1cm;
}

.footer {
    background-color: #99D9F2;
    justify-content: center;
    align-items: center;
}

.creador {
    background-color: #99D9F2;
    font-size: 1.3em;
}

.carouselExampleDark {
    width: 50%;
}

@media (max-width: 1200px) {
    body {
        font-size: 20px;
    }

}

@media (max-width: 992px) {
    body {
        font-size: 16px;
    }

    .header {
        font-size: 14px;
    }

    .barranavegadora li {
        display: inline-flex;
        margin-right: 0px;
        padding: 0px;
        margin-left: 0px;

    }


@media (max-width: 768px) {
    .barranavegadora li {
        display: list-item;
        margin-right: 10px;
        padding: 0px;
        margin-left: 0px;
    }
}


@media (max-width: 576px) {
    .sectiongrid {
        grid-template-columns: 1fr
    }

    .ropa ul li img {
        width: 10em;
        height: 10em;
    }

    body {
        font-size: 10px;
    }

}